html, body, p
 /* div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,  blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video  */
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url(https://images.unsplash.com/photo-1554286210-86b4daa0471a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Universal Elements*/
h1 {
	font-family:'Ubuntu', sans-serif;
	font-size: 3rem;
	color:white
}
#header {
	background-color: rgba(255,255,255,0.6);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
}
nav {
	display: flex;
	flex-direction: row;
	width:289px;
	justify-content: center;
	justify-content: space-between;
}
nav a {
	font-family:'Ubuntu';
	text-decoration: none;
	font-size: 1.2rem;
	color:black;
	display: flex;
	justify-content: center;
}	
nav .About {
margin-top: 12%;
color: white;
}

nav a:hover {
	color:#2C7873;
	text-decoration: underline;
}

nav button  {
	border: 2px solid black;
	border-radius: 5%;
	background-color: rgba(255,255,255,0.6);
	width:200px;
}
.logo {
	font-family: 'Pacifico', cursive;
}
.logo a {
	text-decoration: none;
	color:#2C7873;
	font-size: 2rem;
}
.Footer {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	margin-top: 5%;
	background-color: rgba(255,255,255,0.6);
    color: white;
    width: 100%;
    height: 100px;
}
.Footer p {
	font-size: 1rem;
	color: white;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	font-family: "Ubuntu";
	line-height: 1.3rem;
}
.Footer .logo {
	display:flex;
	justify-content: center;
	margin-top: .5%;
	margin-bottom: .5%;
	color:#2C7873 ;
}
.Footer a {
	text-decoration: none;
}

/*Landing Page*/
.MainPage {
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 15%;
}
.MainPage p {
	font-family:'Muli' ;
	color: white;
	font-size: 2rem;
	margin-top: 3%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
}
.Download{
	display:flex;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 5%;
	font-family: 'Ubuntu';
}
.Download button {
	background-color: #2C7873;
	color:white;
	font-family:'Pacifico', cursive; ;
	font-size: 1rem;
	width: 15rem;
	height: 3rem;
}
.Download button:hover {
	background-color:#FFBA5A;
}


/* Media Queries */
@media (max-width:500px) {
.Footer p {
	font-size: .7rem;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	font-family: "Ubuntu";
	color:white;
	line-height: normal;
	}
nav a {
	font-size: 1rem;
}
.logo a {
	font-size: 1.5rem;
	}
}

